{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Register an Account</div>
        <div class="card-body">
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {% for error in form.username.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    <div class="form-label-group">
                        {{ form.username|add_class:'form-control' }}
                        <label for="{{ form.username.id_for_label }}">Username</label>
                    </div>
                </div>
                <div class="form-group">
                    {% for error in form.email.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    <div class="form-label-group">
                        {{ form.email|add_class:'form-control' }}
                        <label for="{{ form.email.id_for_label }}">Email address</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            {% for error in form.first_name.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                            {% endfor %}
                            <div class="form-label-group">
                                {{ form.first_name|add_class:'form-control' }}
                                <label for="{{ form.first_name.id_for_label }}">First name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            {% for error in form.last_name.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                            {% endfor %}
                            <div class="form-label-group">
                                {{ form.last_name|add_class:'form-control' }}
                                <label for="{{ form.last_name.id_for_label }}">Last name</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {% for error in form.password2.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-label-group">
                                {{ form.password|add_class:'form-control' }}
                                <label for="{{ form.password.id_for_label }}">Password</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-label-group">
                                {{ form.password2|add_class:'form-control' }}
                                <label for="{{ form.password2.id_for_label }}">Confirm password</label>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" href="{% url 'login' %}">Login Page</a>
                <a class="d-block small" href="{% url 'password_reset' %}">Forgot Password?</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
